@font-face{
    font-family: "Kumbh";
    src: url(font/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
@font-face {
    font-family: "Arial";
    src: url(font/arial_narrow_7/arial_narrow_7.ttf);
}

:root {
    --preto-itsgame: #0d0d0d;
    --verde-itsgame: #3bd9ac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80%;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-color: var(--preto-itsgame);
    background-repeat: no-repeat;


}

.imagem-banner {
    display: flex;
    justify-content:center;
    height: 400px;
    padding-left: 140px;
}

header {
    height: 165px;
}

header button{
    display: none;
}

header img{
    width: 80px;
}

header .container-grid{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tradutor{
    cursor: pointer;
    text-decoration: none;


}

.tradutor svg{
    color: white;

    transition: 500ms ease;
}

.tradutor svg:hover{
    color: var(--verde-itsgame);
}

.menu{
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a{
    font-size: 18px;
    font-family: "Kumbh";

    color: white;

    text-decoration: underline transparent;

    transition: 500ms ease;
}

.menu a:hover{
    color: var(--verde-itsgame);
}

.conteudo-banner{
    height: calc(100vh - 280px);

    display: flex;
    align-items: center;
}

.texto-banner{
    font-family: "Arial";
    font-size: 32px;


    color: white;
}

.conteudo-banner span{
    display: block;
    overflow: hidden;

}

.titulo-banner{
    font-size: 80px;
}

#sobre{
    height: 100vh;
    padding-top: 160px;
    padding-left: 25%;
    padding-right: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    position: relative;

    background-repeat: no-repeat;
    background-size: 500px;


}

#sobre img{
    position: absolute;
    top: -50px;
    left: 0px;


    z-index: -1;
}

#sobre h2 {
    font-family: "Arial";
    font-size: 80px;
    margin-bottom: 70px;
}

#sobre p {
    font-family: "Kumbh";
    font-size: 30px;

    text-align: justify;

    z-index: 300;

    line-height: 1.3;
}

.texto-sobre{
    margin-bottom: 50%;
}

#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2{
    font-family: "Arial";
    font-size: 80px;

    padding: 90px;

    margin-bottom: 10px;
}

.container-cards{
    display: flex;
    gap: 30px;
    justify-content: center;

    align-items:end;
}

.card {
    padding-bottom: 20px;
    margin-bottom: 40px;

    cursor: pointer;

    height: 410px;
    width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.27);

    border-radius: 50px 50px 50px 50px;

    transition: 200ms;
    
}

.car-text{
    background-color: #0d0d0d;
}

.card img{
    width: 422.89px;

    border-radius: 0px 10px 0px 0px;
}

.logo-eco img{
    margin-top: 30px;

    padding: 74px;
}

.logo-animall img{
    margin-top: 10px;

    padding: 95px;
}

.logo-good img{
    width: 392.89px;

    margin-top: 10px;

    padding: 58px;
}

.card p{
    color: #0d0d0d;

    border-radius: 0px 0px 50px 50px;

    background-color:lightgray;


    font-family: "Kumbh";
    font-size: 16px;

    text-align: justify;

    padding: 7%;

}

.card:hover{
    transform: scale(1.05);

    transition: 200ms ease;
}

.fundo-banner
{   height: 100vh;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: row;}

.banner h2{
    font-family: "Arial";
    font-size: 40px;
    color: var(--preto-itsgame);
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-verde
{   height: 650px;
    width: 750px;
    background-color: #3bd9ac;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;}

#formulario {
    text-align:center;


}

.titulo-formulario{
    color: white;

    font-family: "Arial";
}

.campo {
    color: white;

    font-family: "Kumbh";
}

#formulario form button{
    font-family: "Kumbh";
}
